#core {
    width: 100%;
    text-align: center;
}

#user {
    width: 20%;
    margin: 0 40% 0 40%;
    text-align: center;
}

pre {
    width: 80%;
}

h2 {
    color: aliceblue;
    background-color: black;
    padding: 2% 0 2% 0;
}

.border {
    border: 5px solid black;
    margin: 1% 5%;
    padding: 1%;
}